/* line 6, ../sass/jax.scss */
#bottom-content {
  margin-top: 150px;
}

/* line 8, ../sass/jax.scss */
.margined-paragraph {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}

/* line 13, ../sass/jax.scss */
.left-margined-paragraph {
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

/* line 18, ../sass/jax.scss */
.carousel-inner {
  text-align: center;
}

/* line 23, ../sass/jax.scss */
#flashMessages {
  color: #008080;
  font-size: 22px;
}

/* line 26, ../sass/jax.scss */
.uppercased {
  text-transform: uppercase;
}

/* line 27, ../sass/jax.scss */
.capitalized {
  text-transform: capitalize;
}

/* line 28, ../sass/jax.scss */
.active-mainnav-item, .active {
  background-color: rgba(210, 210, 210, 0.8);
}

/* line 29, ../sass/jax.scss */
.jax-img-responsive {
  display: block;
  height: auto;
  width: 55%;
  margin: auto;
}

/* line 32, ../sass/jax.scss */
.jax-project-img-responsive {
  display: block;
  height: auto;
  width: 110%;
  margin: auto;
}

/* line 36, ../sass/jax.scss */
.jax-center-aligned {
  text-align: center;
}

/* line 37, ../sass/jax.scss */
a {
  color: #295377;
}

/* line 38, ../sass/jax.scss */
h3 {
  color: darkslategray;
}

/* line 39, ../sass/jax.scss */
h4 {
  color: sienna;
}

/* line 43, ../sass/jax.scss */
.navbar-default {
  background-color: transparent;
  border: none;
}

/* line 47, ../sass/jax.scss */
.navbar-toggle {
  float: none;
}

@media (min-width: 768px) {
  /* line 50, ../sass/jax.scss */
  .navbar-inverse {
    background-color: transparent;
    border-color: #080808;
    margin-left: 0;
    width: 60%;
  }

  /* line 51, ../sass/jax.scss */
  .jax-innerpage-pane {
    width: 54%;
    margin-left: 25px;
  }
}
@media (max-width: 640px) {
  /* line 54, ../sass/jax.scss */
  .navbar-fixed-top, .navbar-fixed-bottom {
    width: 100%;
  }

  /* line 58, ../sass/jax.scss */
  .navbar-inverse {
    width: 100%;
    border-color: #080808;
  }
}
@media (max-width: 768px) {
  /* line 62, ../sass/jax.scss */
  .navbar-fixed-top, .navbar-fixed-bottom {
    right: auto;
    width: 100%;
  }

  /* line 66, ../sass/jax.scss */
  .navbar-toggle {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 67, ../sass/jax.scss */
  .jax-innerpage-pane {
    width: 79%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 70, ../sass/jax.scss */
  .navbar-inverse {
    background-color: #222222;
    border-color: #080808;
    margin-left: 0;
    min-width: 250px;
    width: 50%;
  }

  /* line 71, ../sass/jax.scss */
  .navbar-fixed-top, .navbar-fixed-bottom {
    right: 0;
  }

  /* line 72, ../sass/jax.scss */
  .nav {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  /* line 77, ../sass/jax.scss */
  .jax-innerpage-pane {
    margin-left: 5%;
  }
}
/* line 82, ../sass/jax.scss */
html {
  height: 100%;
}

/* line 88, ../sass/jax.scss */
body {
  background-image: url("img/me.png");
  background-size: cover;
  background-position: center top;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #000;
  color: #251313;
  padding: 0;
  font-size: 16px;
}
/* line 89, ../sass/jax.scss */
body #wrapper {
  margin-top: 4em;
  background-color: transparent;
}
/* line 100, ../sass/jax.scss */
body footer {
  text-align: center;
}

/* line 105, ../sass/jax.scss */
.jax-innerpage-pane {
  min-width: 500px;
  background-color: rgba(212, 200, 175, 0.7);
}
/* line 106, ../sass/jax.scss */
.jax-innerpage-pane iframe {
  padding-bottom: 25px;
}

/* line 109, ../sass/jax.scss */
.btn-primary {
  background-color: teal;
}

/* line 110, ../sass/jax.scss */
.modal-content {
  position: relative;
  background-color: rgba(212, 200, 175, 0.7);
}

/* line 117, ../sass/jax.scss */
.modal-header {
  background-color: darkslategray;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

/* line 120, ../sass/jax.scss */
.jax-project-topnav {
  margin-top: 10px;
}

/* line 123, ../sass/jax.scss */
.jax-project-topnav, .jaxtopnav {
  margin-top: 100px;
}
/* line 124, ../sass/jax.scss */
.jax-project-topnav .dropdown-menu, .jaxtopnav .dropdown-menu {
  margin-top: -1px;
  background-color: lightslategrey;
}
/* line 125, ../sass/jax.scss */
.jax-project-topnav .jax-dropdownmenulevelone-active, .jaxtopnav .jax-dropdownmenulevelone-active {
  background-color: #EEEEEE;
}

/* line 130, ../sass/jax.scss */
.jax-menuitem a {
  font-family: fantasy;
  font-size: 25px;
  color: teal;
}

/* line 133, ../sass/jax.scss */
#threeCanvas {
  width: 500px;
  height: 500px;
}

/* line 136, ../sass/jax.scss */
#resume {
  background-color: rgba(212, 200, 175, 0.7);
  margin: 0;
  color: #251313;
}
/* line 137, ../sass/jax.scss */
#resume h3, #resume h4 {
  display: block;
  margin: auto;
}
/* line 138, ../sass/jax.scss */
#resume .section {
  padding: 10px 25px 25px 25px;
}
/* line 139, ../sass/jax.scss */
#resume dt {
  color: sienna;
}
/* line 140, ../sass/jax.scss */
#resume dd {
  margin-left: 25px;
}
