$overlay-color:rgba(212,200,175,.7);
$margin-standard : 25px;
$topnav-text-color:sienna;
$overlay-text-color:#251313;
//************   general  
#bottom-content{margin-top:150px}

.margined-paragraph{    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 66%;}

.left-margined-paragraph{    margin-bottom: 30px;
    margin-left: $margin-standard;
    margin-right: $margin-standard;}


.carousel-inner {
    text-align: center;
  }
  
  //teal
  #flashMessages{  color: #008080;
                   font-size: 22px;}

.uppercased{ text-transform: uppercase;}
.capitalized{text-transform:capitalize;}
.active-mainnav-item, .active{background-color:rgba(210,210,210,.8);}
.jax-img-responsive {
    display: block;  height: auto;   width: 55%;    margin: auto;
}
.jax-project-img-responsive {
    display: block; height: auto;   width: 110%;    margin: auto;
}

.jax-center-aligned{text-align:center}
a {color: #295377;}
h3{color:darkslategray}
h4{color:sienna}
//***********  endgeneral

//*********   overriding bootstrap 
.row{margin-top: 60px;}

.navbar-default {
    background-color: transparent;
    border: none;
  }  
.navbar-toggle {float:none}

@media (min-width: 960px) and(max-width: 1099px){
 .jax-innerpage-pane{ width:64% }
}

@media (min-width: 768px){
.navbar-inverse {border-color: #080808;margin-left:0;width: 60%;}
 .jax-innerpage-pane{ margin-left:$margin-standard; }
}
@media (max-width: 640px) {
 .jax-innerpage-centerpane3{width:20%}
.navbar-fixed-top, .navbar-fixed-bottom {
   //right:auto;
   width:100%
   }
   .navbar-inverse {width:100%; border-color: #080808;}
    
}
@media (max-width: 768px) {
.navbar-fixed-top, .navbar-fixed-bottom {
   right:auto;
   width:100%
   }
   .navbar-toggle{ display: block;margin-right: auto;margin-left: auto;}
   .jax-innerpage-pane{ width: 79%; display: block;margin-right: auto;margin-left: auto;}
 }
@media (min-width: 768px) and(max-width: 960px) {
.navbar-inverse {  background-color: #222222;border-color: #080808; margin-left:0; min-width: 250px;width: 60%;}
.navbar-fixed-top, .navbar-fixed-bottom {right:0;}
.nav{width:100%}
.jax-innerpage-pane{ width: 66%;}
  //.navbar-header button{ display: block;margin-left: auto;    margin-right: auto;}
}
@media (min-width: 1100px){

 .jax-innerpage-pane{  width:56%; margin-left:4% ;
 border: 3px inset rgb(171, 171, 185);
border-radius: 20px;}
}
@media (min-width: 1400px){

 .jax-innerpage-pane{  width:56%; margin-left:4% ;}
}
@media (max-width: 1600px){
.background-2d{background-size: inherit; }
}

@media (min-width: 1600px){

.background-2d{background-size: cover  }
}
//**************   home
html{
  height: 100%;
}

 
.background-2d{position: absolute;margin-top:0 !important; background-image: url("img/me.png"); background-position:center top; background-repeat: no-repeat;}
body {
  #home-topnav{
    .navbar-inverse { width: 100%;}
    }
  #wrapper {margin-top: 60px;height:100%;
      //  background-image: url("img/me.png");  background-color: transparent; 
     
    #content{
      height:300px;
      #home-pane{height:300px;}
    }
    
    
    }
    
    color: #251313;
    padding:0;
    font-size: 16px;
  //  background-image: url("img/me.png");
     background-size: cover; 
     background-position: center top;
    background-position:  top;
    background-repeat: no-repeat;
 //  background-color: #000000;
    height:100%;
footer{text-align:center}

}//body
//*********** 
//change  to leftpane
.jax-innerpage-pane{min-width:500px; background-color:$overlay-color;  margin-top:60px; border-radius:20px;
 border:2px inset sienna;padding: 15px;
    iframe{padding-bottom: $margin-standard;}
};
.jax-innerpage-centerpane{min-width:400px;width:70%; background-color:$overlay-color; display:block;  margin:auto; border-radius:20px;
 border:2px inset sienna;padding: 15px;margin-top:20px;margin-bottom:20px;
 
 }
.jax-innerpage-centerpane2{min-width:250px;width:40%; background-color:$overlay-color; display:block;  margin:auto; border-radius:20px;
 border:2px inset sienna;padding: 15px;margin-top:20px;margin-bottom:20px;
 
 }

.jax-innerpage-centerpane3{min-width:100px;width:15%; background-color:$overlay-color; display:block;  margin:auto; border-radius:20px;
 border:2px inset sienna;padding: 15px;margin-top:20px;margin-bottom:20px;
 
 }

.btn-primary{ background-color: $topnav-text-color;}
.modal-content {
position: relative;
 background-color: $overlay-color;
}



  .modal-header{background-color: darkslategray;
   border-radius:10px 10px 0 0;border-bottom:none} //specifically for the resume modal

.jax-project-topnav{margin-top:10px}

//*********        top navbar     *********//
.jax-project-topnav, .jaxtopnav{margin-top:100px;
   .dropdown-menu{   margin-top: -1px; background-color: lightslategrey;}
   .jax-dropdownmenulevelone-active{ background-color: #EEEEEE;}
  // .nav .open > a,  .nav .open > a:hover {background-color: #EEEEEE;}
  // .nav .open > a:focus{background-color:transparent}
}
.jax-menuitem{
  a{ font-family: fantasy; font-size: 25px; color:$topnav-text-color;}
}

#threeCanvas{z-index:0; position:absolute;
 width:100%;border:1px solid sienna;// height:500px; position:absolute; left:0; margin:0; }//background-color:rgba(200,200,200,.4)}
canvas{position:relative;}
}

//***********  resume   ************/
#resume{background-color:$overlay-color; margin:0; color:$overlay-text-color;
  h3 , h4{display:block; margin:auto}
  .section{padding:10px 25px 25px 25px}
  dt{color:sienna;}
 dd{margin-left:$margin-standard;}
  
}

//***********  home
#home{margin:$margin-standard}
